= form_for @fullfillment do |f|
  - if @fullfillment.errors.any?
    #error_explanation
      h2 = "#{pluralize(@fullfillment.errors.count, "error")} prohibited this fullfillment from being saved:"
      ul
        - @fullfillment.errors.full_messages.each do |message|
          li = message

  .field
    = f.collection_select :employee_id, Employee.all, :id, :name
    |  hat am 
    = f.date_select :date
    |  Bett 
    = f.collection_select :bed_id, Bed.all, :id, :name
    |  gewaschen
  .field
    .actions = f.submit
