/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: georgia;
  letter-spacing: .05em;
  background: #eee;
}

body {
  position: relative;
  transition: all 1s;
  background: #eee;
  font-size: 14px;
}

.loading {
  filter: grayscale(0.5) blur(.3rem);
}

.backend_link {
   display: block;
   position: fixed;
   right: 0;
   bottom: 0;
   padding: .5rem 1rem;
}

a:hover {
  background: #ffe5aa;
}

:not(.frontend) {
  a, a:link, a:visited {
    text-decoration: none;
    color: #966900;
    font-weight: bold;
  }
}

.backend {
  ul {
    padding-left: 1em;
    margin: 0 1em;
    li {
      border-bottom: .2em solid rgba(0,0,0,.15);
      list-style-type: none;
      padding: .2rem .4rem;
      margin: .4rem;
      display: inline-block;
      background: #fff;
      > div {
        display: inline-block;
      }
      .bed, .employee {
        font-weight: bold;
      }
    }
  }
}

.editable {
  padding: .4rem;
  background-color: #ffe5aa;
}

body .main {
  display: flex;
  flex-direction: column;
}

.lists {
  display: inline-flex;
  flex-direction: row;
  margin: auto;
  .side {
    //display: inline-block;
    &:first-of-type {
      justify-content: flex-end;
      text-align: right;
    }
    &:last-of-type {
      justify-content: flex-start;
      text-align: left;
    }
    ul {
      display: inline-flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
        border-bottom: .2em solid rgba(0,0,0,.15);
        background-color: white;
        margin: .4rem .8rem;
        position: relative;
        padding: .2em .6em;
        font-size: 1.7rem;
        .name {
          line-height: 1.7rem;
        }
        .date, .score {
          position: absolute;
          top: -.2rem;
          background: #999;
          padding: .1em .2em;
          color: white;
          border-bottom: .2em solid rgba(0,0,0,.15);
          font-size: 1rem;
          font-weight: bold;
          text-shadow: 0 0 .1em rgba(0,0,0,.2);
        }
      }
      .date[data-warn-level="0"] {
        background: #8dbc8b;
      }
      .date[data-warn-level="1"] {
        background: #bfc136;
      }
      .date[data-warn-level="2"] {
        background: #c94e4e;
      }
    }
    .beds {
      .bed {
        padding-left: 5.5rem;
        .date {
          left: -.5rem;
        }
        white-space: nowrap;
      }
    }
    .employees {
      .employee {
        padding-right: 2.7rem;
        .name {
        }
        .score {
          right: -.5rem;
        }
      }
    }
  }
}
